.card_container {
  padding: 0px 10px;
  padding-bottom: 10px;
  /* background-color: black; */
  background-color: #010326;
  width: 650px;
  height: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 20px white;
  font-family: 'TTWanjudaedunsancheB';
}

.card_container h2 {
  text-align: center;
  font-size: 20px;
  padding: 15px 0px;
  margin-bottom: -5px;
}

#card-game_header {
  margin-top: 0px;
  padding: 0px 40px;
  padding-top: 60px;
  background-color: #010326;
  color: white;
  padding-bottom: 15px;
}

.card_main-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 0px 10px;
  display: flex;
  padding-bottom: 10px;
  /* background-color: white; */
  background-color: #010326;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 15px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  border-radius: 2px;
  box-sizing: border-box;
  width: 13%;
  height: 20%;
}

.card__front {
  padding: 10px;
  transform: rotateY(180deg);
  background-size: 60px 60px;
  background-position: center;
  background-origin: padding-box;
  background-repeat: no-repeat;
}
.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  backface-visibility: hidden;
  transition: all 0.9s linear;
}
.card__back {
  background-image: url('img/fork.png');
}

#card-game-reset {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: tomato;
  border-radius: 50%;
  right: 2%;
  top: 1%;
  font-size: 25px;
  opacity: 0.8;
  z-index: 1;
  border: none;
  cursor: pointer;
}

#card-game-reset:hover {
  opacity: 1;
}

#card-again-btn {
  margin-left: 5px;
  background-color: #a2adff94;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: 600;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#card-again-btn:hover {
  opacity: 1;
}

#cardGame_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 10px 0px;
  margin-bottom: 10px;
}

#cardGame_score {
  text-align: center;
}
#finish-content {
  padding-top: 20px;
}
#card_modal-time {
  margin-top: 10px;
}

#cardGame_over,
#cardGame_clear {
  padding-top: 5px;
  font-size: 35px;
}

#card_score_value{
  color: tomato;
}

.card_game_time {
  position: absolute;
  left: 50%;
  top: 10%;
  font-weight: 600;
  transform: translate(-50%, -10%);
  font-size: 32px;
  color: white;
}

@media (max-width: 600px) {
  .card_container {
    width: 95%;
    height: 70%;
  }

  #card-game_header {
    padding-left: 18px;
    padding-right: 18px;
  }

  .card_main-container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .cards {
    gap: 5px 7px;
  }
  .card {
    width: 14%;
    height: 20%;
  }
  .card_game_time {
    top: 6%;
    font-size: 30px;
  }
  #finish-modal_contents{
    margin: 30% auto;
  }
}
