#game-screen-body {
  background-color: #010326;
}

#rps_container {
  padding: 0px 10px;
  padding-bottom: 10px;
  /* background-color: black; */
  background-color: #010326;
  color: white;
}

#rps_game_header {
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 10px;
}

#rps_main-container {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.game_img {
  display: flex;
  height: 79%;
  align-items: center;
  justify-content: center;
  border-bottom: 10px black solid;
}
.pc-player_img,
.player_img {
  height: 79%;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pc-player_img img,
.player_img img {
  width: 220px;
  height: 200px;
}

#match_text {
  color: black;
  font-size: 40px;
  padding: 0px 10px;
  font-family: 'Giants-Inline';
}

.player_button {
  padding: 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.player_button input {
  width: 25%;
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.player_button input:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}


.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  display: none;
  font-family: 'TTWanjudaedunsancheB';
}

.modal-content {
  padding: 10px;
  background-color: #fefefe;
  margin: 15% auto;
  width: 22%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-text {
  width: 250px;
  height: 260px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.game_over_modal {
  height: max-content;
  padding-top: 10px;
}


#rps_score {
  height: 60px;
  width: 220px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rps_result {
  padding: 5px 0px;
  height: 50px;
}
.rps_result_txt {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  font-size: 23px;
  font-weight: 600;
  line-height: 1.5em;
}



#life {
  height: 30px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
}

#close-modal,
#again-btn {
  font-size: 22px;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

#close-modal:hover,
#close-modal:focus {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

#again-btn {
  margin-left: 5px;
  background-color: #a2adff94;
  opacity: 0.8;
  display: none;
}

#again-btn:hover {
  opacity: 1;
}

.game-modal-btn {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-text {
  width: 250px;
  height: 220px;
  padding: 20px;
  overflow-y: hidden;
}

.rps_result {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 5px;
}

#rps_score {
  text-align: center;
  margin-top: -5px;
}
#life {
  padding: 0px 40px;
  text-align: center;
  font-weight: 600;
}

#player_img {
  opacity: 0.5;
}

.modal-time,
.rps-modal-btn {
  overflow-y: hidden;
}

.modal-time {
  opacity: 0.8;
  font-size: 15px;
  font-family: 'TTWanjunuricheR';
  padding-top: 2px;
  margin-top: -5px;
}

#game_over {
  text-align: center;
  margin-top: -10px;
  padding-bottom: 5px;
}

#rps_final-result {
  margin: 20px 10px;
  padding: 10px 20px;
  border: 5px #a2adff94 solid;
  border-radius: 20px;
}

#final-result__score {
  text-align: center;
  display: block;
  font-size: 22px;
  height: 30px;
  font-weight: 600;
  margin-bottom: 8px;
}
#final-result__round {
  font-size: 22px;
  font-weight: 600;
}

.reset-modal {
  display: none;
}

#reset {
  padding-top: 3px;
  width: 35px;
  height: 35px;
  color: tomato;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 10px;
  right: 8px;
}
#reset i {
  font-size: 28px;
}

#reset:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

#rps_score,
#game_over {
  width: 300px;
  padding-top: 10px;
  font-size: 35px;
  font-weight: 600;
}

.rps_result,
#reset_msg {
  font-size: 28px;
  font-weight: 600;
}

#reset_msg {
  height: 30px;
}
.game_over_modal {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  #rps_container {
    margin: 0px 20px;
    height: 60%;
  }
  #match_text {
    font-size: 25px;
  }
  .player_button input {
    margin-top: -10px;
  }
  .modal-content{
    width: 300px;
    height: 300px;
    margin: 42% auto;
  }
  #reset-modal-contents{
    margin: 40% auto;
  }

}