.container {
  background-color: white;
  width: 600px;
  height: 510px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 20px white;
  font-family: 'TTWanjudaedunsancheB';
}

.container h2 {
  text-align: center;
  font-size: 20px;
  padding: 15px 0px;
  margin-bottom: -5px;
}

#game-screen-body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.game_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  padding-top: 55px;
  /* border-bottom: 2px solid #a2adff94; */
  font-weight: 600;
}

#main-game-title {
  font-size: 25px;
  font-weight: 600;
}

#rps_game_header {
  border-bottom: 3px black solid;
}

.game_header div {
  width: 33%;
  height: 30px;
  font-size: 28px;
}

.game_header div:first-child {
  text-align: left;
}

.time{
  padding: 2px;
  display: flex;
  gap: 8px;
}

#heart_life {
  padding-top: 2px;
  padding-bottom: -2px;
  color: red;
}

/* .game_header div:nth-child(2) {

} */

.stage {
  position: absolute;
  font-size: 36px;
  font-weight: 600;
  left: 50%;
  top: 9%;
  transform: translate(-50%, -10%);
}

.score {
  position: absolute;
  background-color: #1098f7;
  font-size: 19px;
  font-weight: 600;
  top: 2%;
  right: 20%;
  border-radius: 20%;
  padding: 8px 20px;  
  padding-bottom: 5px;
  text-align: center;
  color: black;
}

#score {
  margin-top: 3px;
  font-size: 30px;
   display: block;
}

.game_header div:last-child {
  text-align: right;
}

.home-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.home-btn i {
  color: #c2e1f5;
  margin-left: 5px;
  font-size: 30px;
}
.home-btn i:hover {
  color: #88b7d5;
}

#game-title {
  position: relative;
}

.color_score {
  margin-right: -10px;
}

#color-game-reset {
  background-color: white;
  position: absolute;
  top: 2.5%;
  right: 1%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  width: 10%;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

#color-game-reset:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
}

#color-game-reset i {
  color: tomato;
}

#finish-modal_contents {
  width: 340px;
  height: 240px;
  background-color: white;
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#cardGame_over {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

#cardGame_score {
  font-size: 24px;
  font-weight: 600;
}

#finish-content > again-btn {
  background-color: tomato;
}

@media (max-width: 600px) {
  .game_header div {
    font-size: 24px;
  }

  .score{
    top: 2.5%;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 17px;
    right: 15%;
    opacity: 0.8;
  }

  .stage {
    font-size: 25px;
    top: 10%;
  }

  .game_header div:last-child {
    width: 120px;
    text-align: right;
  }
}
